.hero-slider{
    position: relative;
    .carousel-inner {
        .carousel-item {
            .hero-slier-item {
                min-height: 560px;
                background-color: #ededed;
                background-size: cover;
                background-position: center center;
                display: flex;
                .content {
                    transform: translateX(100px);
                    opacity: 0;
                    transition: all .5s ease;
                }
            }
            &.active {
                .content {
                    transform: none;
                    opacity: 1;
                }
            }
        }
    }
    .carousel-indicators {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: auto;
        margin: auto;
        margin-right: 1rem;
        li {
            flex: none;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #ffffff;
            margin: .25rem;
            border: none;
            opacity: 1;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);
            transition: all .5s ease;
            &.active {
                background-color: $primary;
            }
        }
    }
}