.section-title {
    text-align: center;
    margin-bottom: 1rem;
    .sub-title {
        color: $brand-light-text;
        margin: 0;
    }
    .title {
        margin-bottom: 10px;
    }
    .bar {
        width: 40px;
        height: 4px;
        background-color: $primary;
        margin: auto;
    }
}

.pointer {
    cursor: pointer;
}